<ion-view title="关于">
  <ion-content class="has-header padding">
  <div class="list card">

  <div class="item item-avatar">
    <img src="img/cnmhh.jpg">
    <h2>神奇的马勒戈壁</h2>
    <p>v1.2.3</p>
  </div>

  <div class="item item-body">
    <h2>
    如果你真的感到难过，又何必强颜欢笑呢
</h2>
    <p>
    当个好的色狼，必须明白这些字的潜在含义……没看明白的请多看几百遍，直到你看明白了为止！

    </p>
    <p>
    最贪婪的：晃 
    </p>
    <p>
    最直接的：昆 
    </p>
    <p>
    最西方的：咬 
    </p>
    <p>
    最自豪的：鹅 
    </p>
    <p>
    最不怕烫的：炅 
    </p>
    <p>
    最贪婪的：晷 
    </p>
    <p>
    最想以数量取胜的：晁 
    </p>
    <p>
    最变态的：嬲 
    </p>
    <p>
    最牛X的：昊 
    </p>
    <p>
    最无处发泄的：间 
    </p>
    <p>
    最刺激宗教人士的：昵 
    </p>
    <p>
    最痛苦的：旱 
    </p>
    <p>
    最象形的：个 
    </p>
    <p>
    女士重婚:替 
    </p>
    <p>
    做爱专家:智 
    </p>
    <p>
    现在例假:晚 
    </p>
    <p>
    我要做爱:晤 
    </p>
    <p>
    只会做爱:晶 
    </p>
    <p>
    做爱能手:暑 
    </p>
    <p>
    做爱部队:晕
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

</div>
  </ion-content>
</ion-view>
