<ion-view title="尾申鲸">
  <ion-content has-header="true" padding="true">

<div class="card">
  <div class="item item-balanced">
<i class="icon ion-flag"></i>
    传记
</div>
<div class="card">
  <div class="item item-text-wrap">
<center> <img src="shsh/wsj1.jpg"/> </center>
尾申鲸，一种神一般存在的鲸鱼。相传在郑和下西洋后灭绝，但是最近美国驻南极考察队的世界地理杂志特聘摄影师又在一次拍到了尾申鲸的照片。
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap item-stable">
此照片一出，引起了世界范围的争论，有的说是当年的后裔，有的说是迁徙，众说纷纭，最终决定捕一只回来研究，但是不知什么原因，去捕鲸的科考队都一去不复返。
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
但是，尾申鲸还是每个月出现一次在南极圈内，这种有规律的出现让人大为不解。因此尾申鲸成为世界第十一大谜团，目前还有待科学的解释。
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap item-stable">
 据传说，尾申鲸肉质鲜嫩脾性温顺，生来只有十厘米长，可是成年后体型变成一百多米长，相当于一艘驱逐舰的长度。并且鲸皮可以做成保暖内裤穿，郑和当年就想扒了它们的皮给老婆做内裤，不过还是狠可惜没有做成。
  </div>
</div>

<center> <img src="shsh/wsj2.jpg"/> </center>
<a href="shsh/wsj.html"><button class="button button-full button-assertive">评论交流</button></a>
  </ion-content>
</ion-view>
