<ion-view title="草泥马">
  <ion-content has-header="true" padding="true">

<div class="card">
  <div class="item item-assertive">
<i class="icon ion-flag"></i>
    传记
  </div>
  <div class="item item-text-wrap item-stable">
       在荒茫而美丽的马勒戈壁上。生活着一群顽强的草泥马。（因为草泥马实是主要物种，所以马勒戈壁又叫草泥马戈壁）草泥马们克服了戈壁的艰苦环境，并顽强的生活下来。戈壁上缺少水缺少食物，草泥马能进食的只有一种草——卧草。然而卧草一般生长在人类的聚集点附近。所以草泥马一生都是于人类相依为伴的。  
  </div>
</div>
<center> <img src="shsh/cnm1.jpg"/> </center>
<div class="card">
  <div class="item item-text-wrap">
在一个草泥马群居点。笔者认识了朝泥族青年，朝泥两次。他告诉笔者部族里只有成年男性才可以配有一匹草泥马。草泥马分为三个品质。最下等才叫做草泥马。中等的叫做卧槽泥马。而最上等的是狂槽泥马。狂槽泥马是马王，要部族里骑术最好的人才能获得。
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap item-stable">
朝泥两次说自己因为骑术好。还没成年的时候就获得了狂槽泥马。说完他立刻露出的腼腆的笑容。
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
随即笔者来到了朝泥两次的家。他的母亲热情接待了我们。喝了些许马奶，就到了睡着了。醒来后发现朝泥两次的父亲朝泥大爷也回到了家。我便跟朝泥大爷聊了起来。朝泥大爷显现出了忧伤的表情：“日子不好过了，我们家以前是买马匹的。现在改行割皮包了。因为草泥马吃的食物卧草几乎全被一种叫河蟹的动物吃掉了。他说他也不知道河蟹是怎么来的。但是随着食物的减少。草泥马数量也在急剧减少。”说罢流下了痛心的眼泪。 
  </div>
</div>
<center> <img src="shsh/cnm2.jpg"/> </center>
<div class="card">
  <div class="item item-text-wrap item-stable">
鲜红的晚霞和岩石如同一对轻骑。护送笔者离开马勒戈壁，在缓缓的落日下看着一群一群的草泥马湮没在沙尘之中。或许如果不保护环境。最后倒下的必将是人类。  
  </div>
</div>
<center> <img src="shsh/cnm3.jpg"/> </center>

<ins class="adsbygoogle"
     style="display:inline-block;width:234px;height:60px"
     data-ad-client="ca-pub-0429520335266267"
     data-ad-slot="2708676330"></ins>
 

<a href="shsh/cnm.html"><button class="button button-full button-assertive">评论交流</button></a>
    
 </ion-content>
</ion-view>
