<ion-view title="达菲鸡">
  <ion-content has-header="true" padding="true">

<div class="card">
  <div class="item item-assertive">
<i class="icon ion-flag"></i>
    传记
  </div>
  <div class="item item-text-wrap item-stable">
<center> <img src="shsh/dfj1.jpg"/> </center>
      达菲鸡有一段美丽的传说呢,传说是生长在南美洲的奇异物种,运动时身体常常抽搐,运动完后会从口中射出一种乳白色粘液,据说用来对异性示爱.可惜的是,因为印第安人的大量捕杀,现已灭绝哎.
<center> <img src="shsh/dfj2.jpg"/> </center>
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
      为了纪念达菲鸡，每年的4月14日定为世界达菲鸡日。
  </div>
</div>
<center> <img src="shsh/dfj3.jpg"/> </center>

<ins class="adsbygoogle"
     style="display:inline-block;width:234px;height:60px"
     data-ad-client="ca-pub-0429520335266267"
     data-ad-slot="2708676330"></ins>
 


<a href="shsh/dfj.html"><button class="button button-full button-assertive">评论交流</button></a>

  </ion-content>
</ion-view>
