<ion-view title="法克鱿">
  <ion-content has-header="true" padding="true">

<div class="card">
  <div class="item item-balanced">
<i class="icon ion-flag"></i>
    传记
  </div>
  <div class="item item-text-wrap item-stable">
      <div>
<i class="icon ion-paper-airplane"></i>
      法克鱿鱼属枪乌贼科（Loliginidae；squid）： 头足纲的1科。 
</div>
<div>
<i class="icon ion-paper-airplane"></i>
      拉丁语学名：vai-te foder 
</div>
<center> <img src="shsh/fky2.jpg"/> </center>
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
　　原产欧美的一种极其凶猛的鱿鱼，软体动物，当受到危害时，能射出白色粘稠液体来保护自己，能对人身造成无法恢复的伤害。 
　　据调查原产于法国和克罗地亚，故名“法克鱿”。与我国戈壁滩上珍稀物种草泥马齐名。 
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap item-stable">
　　传入韩国后，韩国人很喜欢吃，和玉米一起爆炒可以有特殊的香气，《玉米法克鱿》是世界五大美食之一，连一向对食品挑剔的中国人都经常去吃。点菜的时候，还没等小*姐递过来菜单，一些真正的美食家就喊道“玉米法克鱿，韩国法克鱿，要非主流的法克鱿！” 这时候小*姐总是心领神会的点点头。[就连著名的韩国歌坛巨星洞房神起也喜欢在韩国最著名的法克鱿饭店就餐，其成员表示，米西法克鱿是他们的最爱，他们最喜欢被法克鱿的神魂颠倒的滋味。]
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
这种鱿鱼从来不生活在主要的河流里面 ，所以有关科学家称它们为非主流，关于他们的生活习性目前正在研究之中，有关人士表示天亮的时候它们从来不出来，只有天黑的时候它们才成群结队的出没，进行繁殖和产卵，并且繁殖速度极快。 
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap item-stable">
　　由于泥土因素的沉淀和太阳的暴晒，使得此马有条纹状花纹，形似斑马，但其鬃毛色为黑白相间，不同于斑马。另外其忧郁的眼神更是斑马不可比拟的。 
　　法克鱿同时也具有身后的文化底蕴，元谋人，北京人的壁画上就曾经出现过它们，可以说自人类诞生之人起，法克鱿就在人类文明中扮演着重要的角色，一些远古部落甚至把它们当作图腾。一个称为斜眼族的部落后来迁居到古韩国，这可能是韩国人喜欢吃法克鱿的一个深层次的原因。这是毅种循环。 
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
　　现在法克鱿已经分布到世界各地以我国的兰州法克鱿和高丽法克鱿最为有名。
  </div>
</div>

<center> <img src="shsh/fky1.jpg"/> </center>
<a href="shsh/fky.html"><button class="button button-full button-assertive">评论交流</button></a>
  </ion-content>
</ion-view>
