<ion-view title="吉跋猫">
  <ion-content has-header="true" padding="true">

<div class="card">
  <div class="item item-balanced">
<i class="icon ion-flag"></i>
    传记
</div>
<div class="card">
  <div class="item item-text-wrap">
生活在马勒戈壁绿洲中的奇特生物，以草为食。由于比较可爱，性情并不凶猛，故在宠物市场非常受欢迎，因此野生吉跋猫数量更为稀少。特点：可爱，素食，性情温柔。
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap item-stable">
<center> <img src="shsh/jbm1.jpg"/> </center>
主要生活在塔玛拉戈壁附近。夜间活动频繁，白天蛰伏。在阴暗潮湿的环境中生长,行动极其迅捷。
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
据山海经记载：东南有山，猫出其间，迅若鬼魅，倏忽难见。动物学家研究发现，吉跋猫喜爱在水面岸边玩耍，尤其是风雨之时。大风，巨浪，巨波更能使其疯狂。
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap item-stable">
吉跋猫没有别的特殊爱好，唯独对笔情有独钟，其中毛笔为最爱玩耍之物。玩起来可达寝食皆忘的地步。白虎是它的天敌，但有时吉跋猫也会与白虎奋力一搏，大战很久。因白虎的大量捕食,现存量极少。
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap item-stable">
“动物保护组织已经向政府提出保护吉跋猫的提议，并力争将吉跋猫列为国家一级保护动物！”该组织秘书长David Jibas说。
  </div>
</div>
<center> <img src="shsh/jbm2.jpg"/> </center>
 
 
<a href="shsh/jbm.html"><button class="button button-full button-assertive">评论交流</button></a>

  </ion-content>
</ion-view>
