<ion-view title="菊花蚕">
  <ion-content has-header="true" padding="true">

<div class="card">
  <div class="item item-balanced">
<i class="icon ion-flag"></i>
    传记
  </div>
  <div class="item item-text-wrap item-stable">
      <div>
<i class="icon ion-paper-airplane"></i>
中文名：菊花蚕
</div>
<div>
<i class="icon ion-paper-airplane"></i>
英文名：Chrysanthemum Silkworm
</div>
<center> <img src="shsh/jhc2.jpg"/> </center>
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
蚕蛾科昆虫的一种，原产中国，驯养在菊花上，故称菊花蚕。
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap item-stable">
养蚕和利用蚕丝是人类生活中的一件大事，约在4000多年前中国已有记载，至少在3000年前中国已经开始人工养蚕。
菊花蚕是最近科学家发明的一种新的养殖方法，用菊花作为蚕的食物取代传统的桑叶，蚕吐出的丝强度高，质量大，可放火，抗辐射，防弹，轻便，优点很多。
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
菊花蚕丝虽好，但是菊花蚕很难养殖。菊花蚕容易死，怕寒，怕高温，对湿度要求也很苛刻。所以市场上的菊花蚕丝相当昂贵，很多贵族品牌就有菊花蚕丝的产品，比如那个阿迪什么王的……
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap item-stable">
穿上菊花蚕丝的人必定是个贵族。日本皇室的图标也是菊花，可见对菊花的喜爱是日人所必备的。
  </div>
</div>
<center> <img src="shsh/jhc1.jpg"/> </center>
 
 
<ins class="adsbygoogle"
     style="display:inline-block;width:234px;height:60px"
     data-ad-client="ca-pub-0429520335266267"
     data-ad-slot="2708676330"></ins>
 



<a href="shsh/jhc.html"><button class="button button-full button-assertive">评论交流</button></a>
  </ion-content>
</ion-view>
