<ion-view title="潜烈蟹">
  <ion-content has-header="true" padding="true">

<div class="card">
  <div class="item item-assertive">
<i class="icon ion-flag"></i>
    传记
  </div>
  <div class="item item-text-wrap item-stable">
<center> <img src="shsh/qlx1.jpg"/> </center>
      蟹中极品,肥大肉多,江南产物,多做食物,传说一只潜烈蟹堵住了当时苏杭运河的蓄水口,
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
      使得运河的水不能下泄,导致上游人民食用水污染,当时有一县官名叫庞光,因为污染得了一种炎,最后身亡,事情传到官府,官府命人大量捕杀,导致潜烈蟹灭绝.
  </div>
</div>
<div class="card">
  <div class="item item-assertive">
<i class="icon ion-flag"></i>
实地考察之潜烈蟹
  </div>
  <div class="item item-text-wrap">
      <div>
<i class="icon ion-calendar"></i>
笔者利用现代化信息网络，它大大提高了笔者的效率，一下子功夫，笔者就利用神奇的网络找到了通往图书馆最近的路线！真是神奇啊！在图书馆，笔者仅仅花了一个下午就找到了资料室的路口，然后开始了漫长而又神奇的生物之旅，我最终用了两本书--《生命的起源》我记得是从宇宙大爆开始看起的，还有一本是助我解答不懂之处的《百万个为什么》！

          </div>
<center> <img src="shsh/qlx2.jpg"/> </center>
          <div>
<i class="icon ion-calendar"></i>
     那里的老族长，也就是那位六十年前的草泥两次接待了我！和我说了马勒戈壁的近况，由于河蟹猛增，在四十年前，族人就为了生态平衡，定量捕捉河蟹，使的族人顿顿有蟹吃，多出来的便以全球限量原生态河蟹的口号买给外乡人，特邀请当地著名影星割油代言，口号“卧草蟹，我看行！”。这就是近年来著名的有超过阳澄湖大闸蟹的势头的卧草蟹，经过笔者查看和品尝，笔者可以确定一定以及肯定是当时消失的潜烈蟹。
          </div>
          <div>
<i class="icon ion-calendar"></i>
在这片美丽又恶劣的马勒戈壁上不但有美丽的草泥马，有坚韧的卧草，有像草泥两次那样善良的人民还有神奇的潜烈蟹！  笔者离开时，族长说现代科技好了，我们终于靠手工利用潜烈蟹做了些有病治病没病强身的潜烈糠，一般人不给的，但给了我很多！我被这些纯朴的人所感动了！马勒戈壁，一个奇迹之地啊！
          </div>
  </div>
</div>

<ins class="adsbygoogle"
     style="display:inline-block;width:234px;height:60px"
     data-ad-client="ca-pub-0429520335266267"
     data-ad-slot="2708676330"></ins>
 


<a href="shsh/qlx.html"><button class="button button-full button-assertive">评论交流</button></a>
  </ion-content>
</ion-view>
