<ion-view title="其他提名神兽">
<ion-content class="has-header">
<div class="list list-inset">
    <div class="item item-text-wrap">
非珠牛：生活在九岭地区的一种高原牛，毛发生长不规律，且色彩斑斓，与九岭 猴、瑙蚕并称九岭三宝/ 非主流的谐音
        </div> 
    <div class="item item-text-wrap">
河蟹：最牛逼的神兽，为其他一切神兽的天敌
    </div>
    <div class="item item-text-wrap">
泥犬甲：与草泥马生活在同一区域，同样喜食卧草，又称卧草泥犬甲
    </div>
    <div class="item item-text-wrap">
奥特鳗：生活在日本北海道地区的一种牛逼鳗鱼，银白色和红色相间，可发电波
    </div>
    <div class="item item-text-wrap">
朵猫猫：一种人工繁育的变异猫科动物，性凶猛，多用于监狱等地的守卫工作
    </div>
    <div class="item item-text-wrap">
打浆鼬：一种草原鼬鼠，以无所事事著称。
    </div>
    <div class="item item-text-wrap">
伏卧蛏：一种海生蛏子，能做规律性起伏运动，并能喷射乳白色液体自卫
    </div>
    <div class="item item-text-wrap">
公务猿：生活在河蟹聚居地的一种猴子，高级进化后可变异为荡猿
    </div>
    <div class="item item-text-wrap">
菊豹：同菊花残同属菊花科物种，性烈
    </div>
    <div class="item item-text-wrap">
荡猿：公务猿的高级变种，可制造并使用工具，常用工具有钲斧、井叉等
    </div>
    <div class="item item-text-wrap">
巴陵猴：生活在巴陵地区的一种高智能生物，是九岭猴、非珠牛、瑙蚕等九岭生 物的天敌
    </div>
    <div class="item item-text-wrap">
九岭猴：生活在九岭地区的猿类，分为两类，一类生活习性与巴陵猴相近，成为 精英九岭猴，另一种喜食瑙蚕，智力低下，成为瑙蚕九岭猴
    </div>
    <div class="item item-text-wrap">
卅克麒：原产法国的一种低级类龙生物( 法国现任总统萨/科/奇)
    </div>
    <div class="item item-text-wrap">
叁鹿：中国本土的一种珍稀鹿类，可产出名贵药材绅杰石
    </div>
    <div class="item item-text-wrap">
楼猪：一种智能忽高忽低的生物，天敌是?狸猿
    </div>
    <div class="item item-text-wrap">
鲨鳖：智力极端低下的海洋低等生物
    </div>
    <div class="item item-text-wrap">
獾狸猿：这个不用解释了，一种受制于河蟹的生物
    </div>
    <div class="item item-text-wrap">
舞腾狼：日本著名狼类，叫声具有极强的穿透力
    </div>
    <div class="item item-text-wrap">
稿栗蚌：一种无脑蚌类，喜欢把一切可以看到的东西都收入自己壳里
    </div>
    <div class="item item-text-wrap">
央虱：虱子的一种，习惯性把其他生物都当作鲨鳖，喜欢自焚
    </div>
    <div class="item item-text-wrap">
猹妖鸡：獬琊龙最喜爱的食物之一，但是同时是钟裹足蚯的天敌
    </div>
    <div class="item item-text-wrap">
鞑癞瘌马：一种红色无毛的高原马，是草泥马的变种之一，又称鞑癞草泥马
    </div>
    <div class="item item-text-wrap">
钟裹足蚯：獬琊龙的幼虫，以臭著称
    </div>
    <div class="item item-text-wrap">
股瓢：瓢虫的一种，飞行能力极低，起飞后无法自控，直直下跌直至跌到底
    </div>
    <div class="item item-text-wrap">
瑙蚕：九岭地区的常见蚕类
    </div>
    <div class="item item-text-wrap">
干泥马：草泥马的变种，因常见于日本，又称日泥马
    </div>
    <div class="item item-text-wrap">
滚泥马：干泥马的变种，因常见于日本，又称日本滚泥马
    </div>
    <div class="item item-text-wrap">
松岛蜂：原产日本的美丽蜂类
    </div>
    <div class="item item-text-wrap">
藻雷貔：传说中的神兽，因善装死，又称装毙藻雷貔
    </div>
    <div class="item item-text-wrap">
甘鲸：井叉在长期斗争中产生的副产品 
    </div>
    <div class="item item-text-wrap">
症懈萎猿：河蟹的跟班，盛产于全国各地
    </div>
    <div class="item item-text-wrap">
猹妖鸡：獬琊龙最喜爱的食物之一，但是同时是钟裹足蚯的天敌。
    </div>
    <div class="item item-text-wrap">
2B:一种铅笔
    </div>
</div>

<ins class="adsbygoogle"
     style="display:inline-block;width:234px;height:60px"
     data-ad-client="ca-pub-0429520335266267"
     data-ad-slot="2708676330"></ins>
 


</ion-content>
</ion-view>


