<ion-view title="吟稻雁">
  <ion-content has-header="true" padding="true">

<div class="card">
  <div class="item item-assertive">
<i class="icon ion-flag"></i>
    传记
  </div>
  <div class="item item-text-wrap item-stable">
      长翼善飞，身上羽毛如钢铁般坚硬，口中会喷出毒火取敌性命。是十大神兽中最高雅的神兽。 
<center> <img src="shsh/ydy1.jpg"/> </center>
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
<center> <img src="shsh/ydy2.jpg"/> </center>
      传说清朝康熙年间，突然一只大雁俯冲而下把整块稻田都压坏，形成了稻田怪圈，使当地农民得上一种怪病，农田里的女人很快变老，男人因为女人的变老，也离开了此地，是以百姓苦不堪言，最后官府下令捕杀吟稻雁，怪病才得以平息下来，但是吟稻雁因为过度捕杀导致灭绝。 
  </div>
</div>
<center> <img src="shsh/ydy3.jpg"/> </center>

<ins class="adsbygoogle"
     style="display:inline-block;width:234px;height:60px"
     data-ad-client="ca-pub-0429520335266267"
     data-ad-slot="2708676330"></ins>
 


<a href="shsh/ydy.html"><button class="button button-full button-assertive">评论交流</button></a>
  </ion-content>
</ion-view>
