<ion-view title="雅蔑蝶">
  <ion-content has-header="true" padding="true">

<div class="card">
  <div class="item item-royal">
<i class="icon ion-flag"></i>
    传记
  </div>
  <div class="item item-text-wrap item-stable">
鳞翅目的锤角亚目,蝶类的一种.在2009年1月1日与青藏高原地区刚刚被发现 
<center> <img src="shsh/ymd1.jpg"/> </center>
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
雅蠛碟颜色诡异,据蝴蝶专家推测,会变色,夜间会发光.因为生活在高原地区,雅蠛碟喜欢低压低氧,寒冷的环境 
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
全世界大约有14000余种蝴蝶,雅蠛碟属于最珍贵,最稀有的一种,目前只在亚洲的青藏高原地区有过两次发现。只有在中国青藏高原发现的,有照片为证 
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
但还有一说,雅蠛碟来自日本,曾经有一个可爱的小妹妹,跟她相爱的男子不忍家庭的压迫,双双殉情,结果就化作了两只雅蠛碟... 
  </div>
</div>
<div class="card">
  <div class="item item-text-wrap">
传说归传说,总而言之,言而总之,一言以蔽之,雅蠛碟就是一个很珍贵的稀有品种,让我们大家携手去保护它吧!
  </div>
</div>
<center> <img src="shsh/ymd2.jpg"/> </center>
<a href="shsh/ymd.html"><button class="button button-full button-assertive">评论交流</button></a>
  </ion-content>
</ion-view>
